{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center m-5 ">Liste des acteurs d'un film : </h1>
    <div class="row">
        {% for actor in actors %}
            <ul>
                <li>{{ actor.id }}</li>
                <li>{{ actor.lastname }}</li>
                <li>{{ actor.gender }}</li>
                <li>{{ actor.biography }}</li>
            </ul>
        {% endfor %}
    </div>
{% endblock %}


