{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <p>test</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <!-- Contenu de la deuxième colonne -->
                        <p>test</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <!-- Contenu de la troisième colonne -->
                        <p>test</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
