{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="example-wrapper text-white text-center">
    <h1 class="m-5 ">Bienvenue sur le meilleur projet de la terre !!!</h1>
    <h2>Pauline TRONTIN</h2>
    <div class="photo">
    </div>
</div>
{% endblock %}
{% block stylesheets %}
    <style>
        .photo{
            width: 50%;
            height: 30%;
            background-image: url("https://rapidapi.com/blog/wp-content/uploads/2019/09/Top-7-Movie-APIs-refresh_blogimage.jpg");
        }
    </style>
{% endblock %}