{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center m-5 text-white">Liste des series : </h1>
    <div class="row">
        {% for serie in series %}
            <div class="col-md-4 mb-4">
                <div class="card" style="height: 850px;margin: 30px;">
                    <img src="{{ serie.image }}" class="card-img-top img-fluid img-thumbnail" alt="{{ serie.name }}" style="height: 50%;">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ serie.name }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

